@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 30px);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 30px);
  }
}
.toast {
  font-size: 24px;
  color: #fff;
  padding: 10px 20px;
  background-color: rgba(000, 000, 000, 0.7);
  border-radius: 20px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  animation-name: slideIn;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
